Group Members: Sowmya Renukuntla, Parneet Kaur, Cheyenne Edwards

OMIS 116: Applied Machine Learning

Professor Wilson Lin

# Table of Contents
1. [Previewing the Data](#preview-data)
    1. [Yield Data](#yield-data)
    2. [Temperature Data](#temperature-data)
    3. [Rainfall Data](#rainfall-data)
    4. [Pesticides Data](#pesticides-data)

#### Data Preprocessing and Cleaning

In [12]:
# Important Libraries for Data Analysis 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt # Useful for Visualizating Missing Values or Distribuions
import seaborn as sns

In [13]:
# Loading all the datasets
yield_df = pd.read_csv('yield.csv')
rain_df = pd.read_csv('rainfall.csv')
temp_df = pd.read_csv('temp.csv')
pest_df = pd.read_csv('pesticides.csv')


## Previewing the Data
<a id="preview-data"></a>

Here are some reasons why we are previewing the data first even though there are four datasets at this moment: 
- Understand the structure (e.g. row and column count, data types, name formatting)
- Identifying Missing Values 
- Identifying Duplicate Rows/Columns 
- Are there any outliers in the data?
- Do we need to tranform the data in any way?

In [14]:
print("Yield Data:")
print(yield_df.head())

print("\nTemperature Data:")
print(temp_df.head())

print("\nRainfall Data:")
print(rain_df.head())

print("\nPesticides Data:")
print(pest_df.head())

Yield Data:
  Domain Code Domain  Area Code         Area  Element Code Element  Item Code  \
0          QC  Crops          2  Afghanistan          5419   Yield         56
1          QC  Crops          2  Afghanistan          5419   Yield         56
2          QC  Crops          2  Afghanistan          5419   Yield         56
3          QC  Crops          2  Afghanistan          5419   Yield         56
4          QC  Crops          2  Afghanistan          5419   Yield         56

    Item  Year Code  Year   Unit  Value
0  Maize       1961  1961  hg/ha  14000
1  Maize       1962  1962  hg/ha  14000
2  Maize       1963  1963  hg/ha  14260
3  Maize       1964  1964  hg/ha  14257
4  Maize       1965  1965  hg/ha  14400

Temperature Data:
   year        country  avg_temp
0  1849  Côte D'Ivoire     25.58
1  1850  Côte D'Ivoire     25.52
2  1851  Côte D'Ivoire     25.67
3  1852  Côte D'Ivoire       NaN
4  1853  Côte D'Ivoire       NaN

Rainfall Data:
          Area  Year average_rain_fall_mm_per_year
0  Afghanistan  1985                           327
1  Afghanistan  1986                           327
2  Afghanistan  1987                           327
3  Afghanistan  1989                           327
4  Afghanistan  1990                           327

Pesticides Data:
           Domain     Area Element                Item  Year  \
0  Pesticides Use  Albania     Use  Pesticides (total)  1990
1  Pesticides Use  Albania     Use  Pesticides (total)  1991
2  Pesticides Use  Albania     Use  Pesticides (total)  1992
3  Pesticides Use  Albania     Use  Pesticides (total)  1993
4  Pesticides Use  Albania     Use  Pesticides (total)  1994

                           Unit  Value
0  tonnes of active ingredients  121.0
1  tonnes of active ingredients  121.0
2  tonnes of active ingredients  121.0
3  tonnes of active ingredients  121.0
4  tonnes of active ingredients  201.0

## 1. Yield Data
<a id="yield-data"></a>

In [15]:
yield_df.describe()

,Area Code,Element Code,Item Code,Year Code,Year,Value
count,56717.000000,56717.0,56717.000000,56717.000000,56717.000000,56717.000000
mean,125.650422,5419.0,111.611651,1989.669570,1989.669570,62094.660084
std,75.120195,0.0,101.278435,16.133198,16.133198,67835.932856
min,1.000000,5419.0,15.000000,1961.000000,1961.000000,0.000000
25%,58.000000,5419.0,56.000000,1976.000000,1976.000000,15680.000000
50%,122.000000,5419.0,116.000000,1991.000000,1991.000000,36744.000000
75%,184.000000,5419.0,125.000000,2004.000000,2004.000000,86213.000000
max,351.000000,5419.0,489.000000,2016.000000,2016.000000,1000000.000000

In [16]:
yield_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56717 entries, 0 to 56716
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Domain Code   56717 non-null  object
 1   Domain        56717 non-null  object
 2   Area Code     56717 non-null  int64
 3   Area          56717 non-null  object
 4   Element Code  56717 non-null  int64
 5   Element       56717 non-null  object
 6   Item Code     56717 non-null  int64
 7   Item          56717 non-null  object
 8   Year Code     56717 non-null  int64
 9   Year          56717 non-null  int64
 10  Unit          56717 non-null  object
 11  Value         56717 non-null  int64
dtypes: int64(6), object(6)
memory usage: 5.2+ MB

In [17]:
# Check to see how many unique areas (countries) are in the dataset
len(yield_df['Area'].unique())

212

In [18]:
# Check to see how many unique years are in the dataset
len(yield_df['Year'].unique())

56

We want to identify columns we only unique value only because these kinds of columns generally provide no new/useful information.

In [33]:
checkForConstant = [col for col in yield_df.columns if yield_df[col].nunique() == 1]

print("Columns with a single unique value:", checkForConstant)

Columns with a single unique value: ['Domain Code', 'Domain', 'Element Code', 'Element', 'Unit']

In [34]:
# Code Cell for Dropping Columns with a Single Unique Value

In [36]:
# No missing values in the dataset
yield_df.isnull().sum()

Domain Code     0
Domain          0
Area Code       0
Area            0
Element Code    0
Element         0
Item Code       0
Item            0
Year Code       0
Year            0
Unit            0
Value           0
dtype: int64